<!DOCTYPE html>
{% extends 'adminindex.html' %}
{% block content %}
<div class="card-body" style="background-color: #afbbc4;">
    <h4 class="card-title mb-4" style="color: black;">View Alerts</h4>
    <div class="table-responsive">
        <table class="table table-striped" style="color: black;">
            <thead >
                <tr >
                    <th>Text</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in marquee_list %}
                <tr>
                    <td>{{ item.text }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.time }}</td>
                    <td>
                        <form action="{% url 'delete_marquee' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
