<!DOCTYPE html>
{% extends 'adminindex.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div class="card" style="background-color: #afbbc4;">
                  <div class="card-body">
                    <h4 class="card-title" style="color:black;">Notifications</h4>
                      <div class="table-responsive">
                      <table class="table table-striped" style="color: black;">
                        <thead>
                          <tr>
                            <th> News Id</th>
                            <th> Title </th>
                            <th> Location </th>
                            <th> Date </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in obj %}

                        <tr>
                            <td> {{i.newsId}}</td>
                            <td> {{i.news_Title}}</td>
                            <td> {{i.news_Location}}</td>
                            <td> {{i.news_date}}</td>
                            <td><a href="{% url 'news_delete2' data_id=i.newsId %}"><i class="fa fa-window-close"></i></a></td>
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
</body>
</html>
{% endblock %}