<!doctype html>
<html lang="en">
    {% extends 'main_home.html' %}
    {% load static %}
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
  body {
    line-height: 1.7;
    color: black;
    font-weight: 300;
    font-size: 1.1rem; }
  </style>
  <body>
    {% block content%}
    <div class="main-panel">
        <div class="content-wrapper">

          <div class="container">
          <div> <br><br><br><br>
            
          </div>
            <h1>Contact Us</h1>
            
    
            <p>Welcome to [Your University/Organization] Placement Cell! We're here to help you with all your placement-related queries and support you in your journey towards a successful career.</p>
    
            <h2>Contact Information</h2>
    
            <p><strong>Office Address:</strong><br>
            CHRIST COLLEGE (AUTONOMOUS) IRINJALAKUDA<br>
            CHRIST PLACEMENT CELL<br>
            ST.JOSEPH BLOCK, Room Number 17<br>
            IRINJALAKUDA<br>
            THRISSUR,KERALA,680121<br>
            INDIA</p>
    
            <p><strong>Contact Numbers:</strong><br>
            Main Office: 0480 2825258<br>
            Placement Coordinator: 90740 47973<br>
<!--            Fax: [Fax Number, if applicable]</p>-->
    
            <p>Email: <a href="mailto:office@christcollegeijk.edu.in">office@christcollegeijk.edu.in</a><br>
            General Inquiries: <a href="mailto:info@placementcell.com">info@placementcell.com</a><br>
            Placement Coordinator: <a href="mailto:placement.coordinator@placementcell.com">placement.coordinator@placementcell.com</a></p>
    
            <h2>Social Media</h2>
    
            <p>Connect with us on social media to stay updated on the latest job opportunities, events, and news:</p>
            <ul>
                <li><a href=' https://www.facebook.com'>Facebook</a></li>
                <li> <a href='https://twitter.com/login/'>Twitter</a></li>
                <li><a href='https://in.linkedin.com/'>LinkedIn</a></li>
                <li><a href='https://www.instagram.com/accounts/login/'>Instagram</a></li>
            </ul>
    
            <h2>Office Hours</h2>
    
            <p>Our office is open during the following hours:</p>
            <ul>
                <li>Monday to Friday: 9.30 am to 5.30 pm</li>
                <li>Saturday: 9.30 am to 4.00 pm</li>
                <li>Sunday: Closed</li>
            </ul>
    
            
          
    
            
        </div>
        </div>
    </div>


    {% endblock %}
      
   
  </body>
</html>