<!DOCTYPE html>
<html lang="en">
{% extends 'studentindex.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card" style="background-color: gray;">
        <div class="card-body">
            <h4 class="card-title" style="color: black;">Course Details</h4>
            <p class="card-description"></p>
        <form class="forms-sample" method="post" action="{% url 'submission_form' %}"    enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Course name :</label>
                                <div class="col-sm-9">
                                    <h5 class="col-form-label">{{course_data.CourseName}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Department Name :</label>
                                <div class="col-sm-9">
                                    <h5 class="col-form-label">{{course_data.DeptId.DeptName}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Description:</label>

                                <div class="col-sm-9">
                                    <label class="col-form-label-sm"><h6>{{course_data.Description}}</h6></label>
                                </div>
                            </div>
                        </div>
                    </div>




                <button class="btn btn-primary mr-2 btn-rounded">Apply course</button>





                </div>
            </form>
            <div>

            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    document.getElementById("applybutton").onclick = function() {-->
<!--        window.location.href = "";-->
<!--    };-->
<!--</script>-->

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>