
{% extends 'base.html' %}
{% block login %}
{% load static %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


<div class=" full-page-wrapper d-flex align-items-center ">
    <div class="card col-lg-4 mx-auto" style="margin-top:5%;margin-bottom:5%;">
        <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3" style="color:black;text-align:center; ">Please Enter the Email ID {{email}}</h3>
            <form method="post" action="{% url 'verify_otp' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter OTP*</label>
                    <input type="text" class="form-control p_input" name="otp1">
                    <input type="hidden" class="form-control p_input" name="email1" value="{{email}}">
                    
                </div>
                
                
                <div class="form-group d-flex align-items-center justify-content-between">
                    
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                </div>
            </form>
        </div>
        
    </div>
    
</div>
<!-- content-wrapper ends -->
<!-- plugins:js -->
<script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../assets/js/off-canvas.js"></script>
<script src="../../assets/js/hoverable-collapse.js"></script>
<script src="../../assets/js/misc.js"></script>
<script src="../../assets/js/settings.js"></script>
<script src="../../assets/js/todolist.js"></script>
<!-- endinject -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else %}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}