<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css1/log.css' %}">
    <link rel="stylesheet" href="{% static 'js1/log.js' %}">
  </head>
  <body>
    {% load static %}
      <div class="formwarp">
  <div class="login-register">
    <div class="login form">
      
    
      <!--   register form   -->
      
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-header">
          <img src="{% static 'images1/demo.png' %}" alt="logo">
          <!-- <img src="https://assets.codepen.io/1584356/codepen.png" alt="logo"> -->
        </div>
        {% for field in form %}
        {% for error in field.errors %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="form-group">
      <label>First Name</label>
      <!-- <input type="fullname" id="fullname" placeholder="Full Name"> -->
      {{form.first_name.error}}
      {{form.first_name}}
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <!-- <input type="fullname" id="fullname" placeholder="Full Name"> -->
      {{form.last_name.error}}
      {{form.last_name}}
    </div>
        <div class="form-group">
          <label>Username</label>
          <!-- <input type="fullname" id="fullname" placeholder="Full Name"> -->
          {{form.username.error}}
          {{form.username}}
        </div>
        <div class="form-group">
          <label >Email</label>
          <!-- <input type="email" id="email" placeholder="Username or Email"> -->
          {{form.email.error}}
          {{form.email}}
        </div>
        <div class="form-group">
          <label >Password</label>
          <!-- <input type="password" id="password" placeholder="Password"> -->
          {{form.password1.error}}
          {{form.password1}}
        </div>
        <div class="form-group">
          <label >Password</label>
          <!-- <input type="password" id="password" placeholder="Password"> -->
          {{form.password2.error}}
          {{form.password2}}
        </div>
        <div>
          <button class="btn btn-block btn-info">Submit</button>
        </div>
        <div class="form-bottom">
          <p class="already-registered">Alredy have an account? <a href="">Login</a></p>
        </div>
      </form>

    </div>
    
    
  </div>
</div>
    
  </body>
</html>